<div class="container">
  <div class="col-md-12 carDataContainer">
    <div class="title">{{carPageCtrl.carData.carData.Vehicle.VehMakeModel["@Name"]}}</div>

    <div class="col-md-12"> 

      <div class="col-md-4 "><img class="img-responsive img-thumbnail" ng-src="{{carPageCtrl.carData.carData.Vehicle.PictureURL}}"/></div>
      <div class="col-md-8">
        <div class="col-md-12 carData">
          <div class="subtitle">Vehicle Data</div>
          <div>
            <div class="col-md-6"><span>Rate Amount: </span>{{carPageCtrl.carData.carData.TotalCharge["@RateTotalAmount"]}}<span class="currency"> {{carPageCtrl.carData.carData.TotalCharge["@CurrencyCode"]}}</span></div>
             <div class="col-md-6"><span>Estimated Amount: </span>{{carPageCtrl.carData.carData.TotalCharge["@EstimatedTotalAmount"]}}<span class="currency"> {{carPageCtrl.carData.carData.TotalCharge["@CurrencyCode"]}}</span></div>
            <div class="col-md-6" ng-if="carPageCtrl.carData.carData.Vehicle['@AirConditionInd']"><span>Air Condition</span></div>
            <div class="col-md-6" ><span>Transmission Type: </span>{{carPageCtrl.carData.carData.Vehicle["@TransmissionType"]}}</div>
            <div class="col-md-6" ><span>Fuel Type: </span>{{carPageCtrl.carData.carData.Vehicle["@FuelType"]}}</div>
            <div class="col-md-6" ><span>Drive Type: </span>{{carPageCtrl.carData.carData.Vehicle["@DriveType"]}}</div>
            <div class="col-md-6" ><span>No. of Passengers: </span>{{carPageCtrl.carData.carData.Vehicle["@PassengerQuantity"]}}</div>
            <div class="col-md-6" ><span>No. of Baggage: </span>{{carPageCtrl.carData.carData.Vehicle["@BaggageQuantity"]}}</div>
            <div class="col-md-6" ><span>Door Count: </span>{{carPageCtrl.carData.carData.Vehicle["@DoorCount"]}}</div>
          </div>
        </div>
        <div class="col-md-12 carData">
          <div class="subtitle">Vendor Data</div>
          <div>
            <div class="col-md-6" ><span>Vendor Code: </span>{{carPageCtrl.carData.vendorCode}}</div>
            <div class="col-md-6" ><span>Vendor Name: </span>{{carPageCtrl.carData.vendorName}}</div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>