/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 18, 2017, 3:15:38 PM
    Author     : Engy
*/
body{
  background: #e1e1e1;
}

.carComponent,.carDataContainer{
  border:1px solid rgb(239, 239, 239);
  margin-bottom: 20px;
  background: #ffffff;
  text-align: center;
  color:#999;
  box-shadow: 0px 3px 12px 0px #9e9e9e;
}

.clickableArea{
  cursor: pointer;
}
.title{
  font-size: 15px;
  font-weight: bold;
}

.carData{
  text-align: left;
  font-size:12px;
  margin-bottom: 10px;
}

.carData a{
  font-weight: bold;
}

.carData a:before{
  content:"\25b2";
}
.carData a[aria-expanded="true"]:before{
  content:"\25bc";
}
.carData span{
  font-weight: bold;

}
.carDataContainer{
  margin-top: 20px;
  padding: 40px;
}
.carDataContainer img{
  width:100%;

}
.carDataContainer .title,
.carDataContainer .subtitle{
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 10px;

}
.carDataContainer .title{
  color:#337ab7;
}

.carDataContainer .subtitle{
  border-bottom: 1px solid #ddd;
}

.carDataContainer img{
  margin-bottom: 10px;
}

.carDataContainer .carData{
  border:1px solid #ddd;
  border-radius: 4px;
   padding-bottom: 10px;
 
}